* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #ebebeb;
}

.timerApp {
  position: relative;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 400px;
  height: 300px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: white;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.8s;
  transition: opacity 0.6s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.6s;
  transition: transform 0.8s, opacity 0.6s, -webkit-transform 0.8s;
  opacity: 0;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

.settings h1 {
  text-align: center;
  margin-bottom: 10px;
}

.settings .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 0;
}

.settings .date input {
  padding: 5px;
  font-size: 16px;
  width: 100px;
}

.settings button {
  margin-top: 20px;
}

.active {
  -webkit-transform: translate(430px, -100px);
          transform: translate(430px, -100px);
  opacity: 1;
}

.appBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 600px;
  height: 500px;
  border-radius: 13px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

.appBody .image {
  position: relative;
  height: 300px;
  background-image: url(../img/Thunderstorm.jpg);
  background-size: cover;
  background-position: center;
}

.appBody .image .bodyBtn {
  position: absolute;
  text-align: center;
  width: 50px;
  right: 0;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 27px;
  background-color: white;
}

.appBody .bodyBtn:hover {
  background-color: black;
  color: white;
}

.appBody .timeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.appBody .timeSection .timeCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.appBody .timeSection .timeCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px;
  font-size: 23px;
}

.appBody .timeSection .timeCards .card .cardTitle {
  text-align: center;
}

.appBody .timeSection .timeCards .card .number {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */